<footer class="footer">
  <div class="footer__newsletter">
    <div class="container footer__newsletter-layout">
      <p class="footer__newsletter-text">Stay informed about our latest offerings and news.</p>
      <div class="footer__newsletter-form">
        <input type="email" placeholder="Enter your email" class="footer__input">
        <button class="footer__subscribe">Subscribe</button>
      </div>
    </div>
  </div>

  <div class="footer__main">
    <div class="container footer__main-layout">
      <div class="footer__branding">
        <img src="images/Logo-footer.svg" alt="Modern Optician Classes" class="footer__logo">
      </div>

      <div class="footer__links">
        <div class="footer__column">
          <h4 class="footer__heading">Learning</h4>
          <ul class="footer__list">
            <li><a routerLink="/courses">All courses</a></li>
            <li><a routerLink="/courses">Course overview</a></li>
            <li><a routerLink="/blog">Blog</a></li>
            <li><a routerLink="/contact">Support</a></li>
          </ul>
        </div>
        <div class="footer__column">
          <h4 class="footer__heading">Insights</h4>
          <ul class="footer__list">
            <li><a routerLink="/blog">Blogs</a></li>
            <li><a routerLink="/blog">Articles</a></li>
          </ul>
        </div>
        <div class="footer__column">
          <h4 class="footer__heading">Company</h4>
          <ul class="footer__list">
            <li><a routerLink="/about">About us</a></li>
            <li><a routerLink="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container footer__bottom-layout">
      <div class="footer__contact">
        <p>info@modernoptician.com</p>
      </div>
      <div class="footer__social">
        <!-- Icons would go here -->
      </div>
    </div>
  </div>
</footer>
