<header class="header">
  <div class="container header__container">
    <div class="header__logo">
      <img src="images/logo-color.svg" alt="Modern Optician Classes">
    </div>

    <nav class="header__nav">
      <div class="header__nav-container">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="header__link">Home</a>
        <a routerLink="/courses" routerLinkActive="active" class="header__link">Courses</a>
        <a routerLink="/about" routerLinkActive="active" class="header__link">About</a>
        <a routerLink="/blog" routerLinkActive="active" class="header__link">Blog</a>
        <a routerLink="/contact" routerLinkActive="active" class="header__link">Contact</a>
      </div>
      <button class="header__btn btn-primary">Sign Up</button>
    </nav>
  </div>
</header>
